div {

  margin-top: 100px;
  margin-left: 73px;

  p {
      font-size: 20px;
      margin-top: 68px;
      margin-left: 73px;
      margin-right: 30px;

  }

  h1 {
      font-size: 28px;
      margin-top: 60px;
      margin-left: 30px;
      margin-right: 30px;
      padding-left: 5px;
      color: #565656;
      border-left: 5px solid red;
  }
}
