.artist-view-container {
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
  color: #565656;
  font-family: calibri;
  ul {
    list-style: none;

    li.artist-view-container-heading {
      font-size: 35px;
      font-weight: 600;
    }

    .artist-view-container-title {
      margin-top: 2.4em;
      padding-left: 5px;
      font-size: 28px;
      font-weight: 500;
      border-left: 5px solid red;
    }

    .artist-view-container-bio{
      margin-top: 10px;
      padding-left: 5px;
      font-size: 26px;
      font-weight: 400;
    }

    .thumbnail-container {
      margin-top: 10px;

      .thumbnail {
        float: left;
        height: 385px;
        width: 240px;
        overflow: hidden;
        margin-right: 70px;
        cursor: pointer;
        transition:0.2s ease-out all;

        img {
          margin-left: 50%;
          transform: translateX(-50%);
        }
        li {
          font-family: Century-Gothic;
          text-align: center;
          font-size: 20px;
          font-weight: 0;
        }
      }
      .thumbnail:hover {
        transform:scale(1.05);
        position:relative;
        z-index:100;
      }
    }
  }
}
